<style>
    footer{
            text-align: center;
        }
</style>
<footer>
    <p>Design and created by Mahendra Mishra</p>
    <p>Copyright &copy; All Rights Reserved Employee Portal <%= new Date().getFullYear() %></p>
</footer>