<style>
    footer{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: white;
            background-color: #333;
            padding: 3em;
            margin-top: auto;
        }
</style>
<footer>
    <p>Design and created by Mahendra Mishra</p>
    <p>Copyright &copy; All Rights Reserved Employee Portal <%= new Date().getFullYear() %></p>
</footer>