<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Announcement</title>
</head>
<body>
    <h1>Edit Announcement Page</h1>
    <form action="/announcement/<%= announcement.id %>?_method=PUT" method="POST">
        <label> Announcement:
            <input type="text" name="name" value="<%=announcement.name%>">
        </label><br>
        <label> Name:
            <input type="text" name="description" value="<%=announcement.description%>">
        </label><br>
        
        <input type="submit" value="Update Announcement">
    </form>
    <a href="/announcement"> Cancel</a>
</body>
</html>