<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <style> 
        .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        }
</style>
</head>
<body>
    <h1>Announcement Hub</h1>
    <a href="/announcement/new">Add New Announcement</a> <br>
    <% announcement.forEach(p => { %>
        <img src="<%=p.img %>" >
        <h3><a href="/announcement/<%=p._id; %>"><%=p.name; %></a></h3>
         <% }) %>
</body>
</html>