<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Announcement</title>
</head>
<body>
    <h1>New Announcement Page</h1>
    <form action="/announcement" method="POST">
        <label> Announcement:
            <input type="text" name="name">
        </label><br>
        <label> Description:
            <input type="text" name="description">
        </label><br>
        
        <input type="submit" value="Post Announcement">
    </form>
    <a href="/announcement"> Cancel</a>
</body>
</html>